.div {
    background-color: #929191;
}

.biggerText {
  font-size: 50px;
}

.mediumText {
  font-size: 25px;
}
.mediumcenteredText {
  text-align: center;
  font-size: 25px;
}
.largecenteredText {
  text-align: center;
  font-size: 50px;
}